* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #BDE8F5;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: #0F2854;
    border-radius: 0.8rem;
    padding-inline: 3rem;
}

.header h1 {
    font-size: 1.8rem;
    width: 50%;
    color: #d0e1f8de;
}

.header form {
    height: 55%;
    width: 80%;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    border: 2px solid #1C4D8D;
}

.header form input {
    height: 100%;
    width: 85%;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 1rem;
    font-size: 1.1rem;
    color: #b1c9eade;
}

.header form input::placeholder {
    color: rgb(134, 134, 134);
}

.header form button {
    height: 100%;
    width: 15%;
    font-size: 1.15rem;
    background: #1C4D8D;
    border: none;
    cursor: pointer;
    color: #d0e1f8de;
}

.header form button:hover{
    background: #1d4f91;
}

.container {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: #ffffff;
}

.col {
    height: auto;
    width: calc(100% / 5);
    display: flex;
    flex-direction: column;
    padding-inline: 8px;
    gap: 10px;
}

.card {
    margin: 0;
    width: 100%;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1em;
}