* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
body .heading {
  background-color: rgba(28, 28, 28, 0.926);
  color: rgba(198, 197, 197, 0.793);
  font-size: 1.5rem;
  padding: 0.5rem;
  white-space: nowrap;
  text-align: center;
}
body main {
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-grow: 1;
  gap: 0.5rem;
  background-color: rgba(28, 28, 28, 0.796);
}
body main > div {
  height: 100%;
  border-radius: 0.5rem;
  border: 2px solid green;
}
body main #box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body main #box1 div {
  height: 300px;
  width: 300px;
  border: 3px solid white;
  border-radius: 1rem;
}
body main #box1 button {
  font-size: 1.5rem;
  padding: 8px 30px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(51, 51, 51);
}
body main #box1 button:hover {
  transition: all 0.2s ease;
  background-color: #dddbdb;
}
body main #box1 button:active {
  scale: 0.95;
}
body main #box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
body main #box2 h1 {
  min-width: 300px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
  padding: 1.5rem;
  font-size: 3.5rem;
  border: 3px solid white;
  border-radius: 0.6rem;
}
body main #box2 button {
  font-size: 1.2rem;
  padding: 6px 25px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(51, 51, 51);
}
body main #box2 button:hover {
  transition: all 0.2s ease;
  background-color: #dddbdb;
}
body main #box2 button:active {
  scale: 0.95;
}
body main #box3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body main #box3 div.secondaryColor {
  border: 3px solid white;
  height: 440px;
  width: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
body main #box3 div.secondaryColor div#teamInfo {
  height: 400px;
  width: 400px;
  background-color: rgba(115, 114, 114, 0.796);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
body main #box3 div.secondaryColor div#teamInfo h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
body main #box3 div.secondaryColor div#teamInfo p {
  font-size: 1.3rem;
}
body main #box3 button {
  font-size: 1.5rem;
  padding: 8px 30px;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(51, 51, 51);
}
body main #box3 button:hover {
  transition: all 0.2s ease;
  background-color: #dddbdb;
}
body main #box3 button:active {
  scale: 0.95;
}