* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.796);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgb(65, 105, 225);
    padding: 15px 35px;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 9;
    transition: all 0.1s ease;

    &:hover {
        background-color: rgba(65, 105, 225, 0.89);
    }

    &:active {
        scale: 0.95;
    }
}