:root {
    --pri: #f8f4e1;
    --sec: #381c0a;
    --tri-1: #feba17;
    --tri-2: #74512d;
    --red: #ff0000;
    --green: #13aa32;
    --blue: rgb(4, 113, 255);
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonts/aeoniktrial-light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonts/aeoniktrial-regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonts/aeoniktrial-bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    overflow: auto;
    position: absolute;
    user-select: none;
}

.allElems header {
    height: 400px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1714860593796-d00245cb7cd0?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    opacity: 0.9;
    border-radius: 15px;
    margin-bottom: 30px;
    color: var(--tri-1);
    transition: all 0.5s ease;
}

.allElems header:hover {
    transform: scale(1.02);
}

header .header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 70px;
    background-color: rgba(0, 0, 0, 0.335);
    backdrop-filter: blur(2px);
    border-radius: 15px;

}

.header-wrapper .header1 h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--pri);
}

.header-wrapper .header1 h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 50px;
    color: var(--pri);
}

.header-wrapper .header1 h4 {
    font-size: 50px;
    font-weight: 500;
}

.header-wrapper .header2 div {
    display: flex;
    gap: 0.5rem;
}

.header-wrapper .header2 div h2 {
    font-size: 55px;
    font-weight: 500;
}

.header-wrapper .header2 p {
    font-weight: 200;
    font-size: 20px;
    margin-top: 0.5rem;
}

.header-wrapper .header2 h3 {
    font-size: 15px;
    font-weight: 200;
    opacity: 0.8;
    margin-bottom: 5px;
    letter-spacing: 1.5px;
}

.header-wrapper .header2 h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
}

.allElems .allFeatures {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.allFeatures .elem {
    cursor: pointer;
    height: 330px;
    width: 272px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.allFeatures .elem:hover {
    transform: translateY(-15%) scale(1.05);
}

.allFeatures .elem:hover+.elem,
.allFeatures .elem:has(+ .elem:hover) {
    transform: translateY(-7%) scale(0.97);
}

.allFeatures .elem:active {
    scale: 0.97;
    transition: all 0.2 ease;
}

.allFeatures .elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.allFeatures .elem h2 {
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    bottom: 4%;
    right: 5%;
    pointer-events: none;
}

section.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    user-select: none;
}

.fullElem .back {
    position: absolute;
    right: 5%;
    cursor: pointer;
    background-color: var(--red);
    color: var(--sec);
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.back:active {
    scale: 0.95;
}

/* todo list */
.todo-list-fullpage h2 {
    font-size: 40px;
    font-weight: 500;
}

.todo-list-fullpage .todo-container {
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
    background: var(--tri-2);
    width: 33%;
    height: 100%;
    border-radius: 10px;
}

.todo-list-fullpage .todo-container .addTask form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}

.todo-container .addTask form #taskInput {
    padding: 18px 22px;
    width: 100%;
    font-size: 20px;
    background: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    flex-grow: 0;
}

.todo-container .addTask form textarea {
    padding: 15px 20px;
    width: 100%;
    font-size: 18px;
    background: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    flex-grow: 1;
}

.todo-container .addTask form .mark-imp {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.addTask form .mark-imp>#check {
    scale: 1.4;
}

.todo-container .addTask form button {
    cursor: pointer;
    padding: 15px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri-1);
    color: var(--sec);
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
    flex-grow: 0;
    transition: background-color 0.2s ease;
}

.todo-container .addTask form button:active {
    scale: 0.99;
}

.todo-list-fullpage .todo-container .allTask {
    background: var(--tri-2);
    width: 65%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    overflow: auto;
}

.todo-container .allTask .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 18px 30px;
    border-radius: 10px;
}

.allTask .task .task-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.allTask .task .task-details h5 {
    color: var(--sec);
    font-size: 23px;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.allTask .task .task-details details {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.allTask .task .task-details details summary {
    font-weight: 500;
    cursor: pointer;
    color: var(--tri-2);
}

.allTask .task .task-details details p {
    font-weight: 500;
    cursor: default;
    color: var(--tri-2);
    padding-left: 20px;
    font-size: 14px;
}

.allTask .task span {
    background-color: var(--red);
    color: var(--pri);
    font-size: 9px;
    border-radius: 50px;
    padding: 3px 7px;
}

.allTask .task span.ture {
    opacity: 1;
}

.allTask .task span.false {
    opacity: 0;
}

.allTask .task button {
    cursor: pointer;
    padding: 10px 20px;
    color: var(--pri);
    background-color: green;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.allTask .task button:active {
    scale: 0.97;
}

/* daily planner */
.daily-planner-fullpage h2 {
    font-size: 40px;
    font-weight: 500;
}

.daily-planner-fullpage .day-planner {
    background-color: var(--tri-2);
    height: 85%;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time {
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p {
    position: absolute;
    top: 11%;
    left: 2%;
    font-size: 13px;
    color: var(--tri-1);
    font-weight: 200;
}

.day-planner .day-planner-time input {
    padding: 15px 30px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 25px;
    padding-top: 25px;
    outline: none;
}

/* motivational Quote */
.motivational-fullpage {
    position: relative;
}

.motivational-fullpage .motivation-fullPage-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-fullpage .motivation-fullPage-container .motivation-container {
    height: 500px;
    width: 70%;
    position: relative;
}

.motivation-container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri-1);
    border-radius: 50px;
    scale: 1.15;
    filter: blur(150px);
    z-index: 8;
}

.motivation-container .motivation-wrapper {
    z-index: 10;
    position: absolute;
    width: 100%;
    background-color: var(--tri-1);
    border-radius: 30px;
    padding: 20px;
    border: 5px solid var(--tri-2);
}

.motivation-container .motivation-wrapper img {
    position: absolute;
    top: 5%;
    right: 4%;
    opacity: 0.2;
    width: 110px;
}

.motivation-container .motivation-wrapper .motivation-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.motivation-container .motivation-wrapper .motivation-1 h2 {
    background-color: var(--tri-2);
    padding: 15px 30px;
    border-radius: 16px;
    font-size: 28px;
    width: fit-content;
    font-weight: 500;
    text-align: right;
}

.motivation-container .motivation-wrapper .motivation-2 {
    padding: 35px 50px;
}

.motivation-container .motivation-wrapper .motivation-2 h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--sec);
}

.motivation-container .motivation-wrapper .motivation-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.motivation-container .motivation-wrapper .motivation-3 h2 {
    background-color: var(--tri-2);
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    width: fit-content;
    font-weight: 500;
    text-align: right;
}

/* pomodoro timer */
.fullElem.pomodoro-fullpage {
    position: relative;
}

.pomodoro-fullpage h2 {
    font-size: 40px;
}

.pomodoro-fullpage .session {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 25px;
    background-color: var(--green);
    font-size: 20px;
    border-radius: 5px;
}

.pomodoro-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 160px;
}

.pomo-timer button {
    background-color: var(--tri-2);
    padding: 15px 40px;
    font-size: 25px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 7px 7px 0 black;
    transition: all ease 0.1s;
    cursor: pointer;
    font-weight: 700;
}

.pomo-timer button:active {
    box-shadow: 0px 0px 0px black;
    scale: 0.99;
}