:root {
    --pri: #f8f4e1;
    --sec: #381c0a;
    --tri-1: #feba17;
    --tri-2: #74512d;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonts/aeoniktrial-light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonts/aeoniktrial-regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonts/aeoniktrial-bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri-2);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    user-select: none;
}

.elem {
    cursor: pointer;
    height: 330px;
    width: 272px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.elem:active {
    scale: 0.97;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.elem h2 {
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    bottom: 4%;
    right: 5%;
    pointer-events: none;
}


section.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    user-select: none;
}

.fullElem .back {
    position: absolute;
    right: 5%;
    cursor: pointer;
    background-color: red;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.back:active {
    scale: 0.95;
}