:root {
    --pri: #f8f4e1;
    --sec: #381c0a;
    --tri-1: #feba17;
    --tri-2: #74512d;
    --red: #ff0000;
    --green: #13aa32;
    --blue: rgb(4, 113, 255);
    --black: black;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonts/aeoniktrial-light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonts/aeoniktrial-regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonts/aeoniktrial-bold.otf);
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    display: flex;
    flex-direction: column;
}

nav {
    height: 10%;
    width: 100%;
    user-select: none;

    .nav-in {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--tri-2);
        padding: 0px 30px;

        h2 {
            font-size: 26px;
            user-select: none;

            span {
                font-weight: 700;
                font-size: 20px;
                font-family: monospace;
                color: var(--sec);
            }
        }

        .inputContainer {
            width: 40%;
            display: flex;
            border-radius: 30px;
            overflow: hidden;
            border: 2px solid var(--pri);

            input {
                width: 100%;
                padding: 9px 25px;
                font-size: 18px;
                background: var(--pri);
                color: var(--sec);
                border: none;
                outline: none;
            }

            button {
                cursor: pointer;
                padding: 9px 25px;
                color: var(--pri);
                border: none;
                font-size: 18px;
                background-color: var(--tri-2);
                font-weight: 500;
                transition: all 0.5s ease;

                &:hover {
                    background-color: var(--sec);
                }

            }
        }

        .theme {
            background-color: var(--pri);
            padding: 10px 20px;
            border-radius: 30px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:active {
                scale: 0.97;
            }

            h4 {
                color: var(--sec);
                font-weight: 700;
                font-size: 15px;
                pointer-events: none;
            }

        }
    }
}

section.allElems {
    height: 90%;
    width: 100%;
    padding: 18px;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.allElems header {
    height: 65%;
    width: 100%;

    border-radius: 15px;
    color: var(--tri-1);
    background:
        conic-gradient(from var(--rotate), #0000003b, var(--pri), #0000003b, #0000003b) border-box;
    border: 3px solid rgb(112, 112, 112);
    animation: borderAnimate 4s infinite;
    animation-play-state: paused;
    transition: all 0.5s linear;
    position: relative;
    overflow: hidden;
}

.allElems header:hover {
    transform: scale(1);
    animation-play-state: running;
    border: 5px solid transparent;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.341);
}

header .img-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #000;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        opacity: 0.7;
        filter: blur(1px);
    }
}

header .info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 70px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    .header1 {
        h2 {
            font-size: 30px;
            font-weight: 500;
        }

        h1 {
            font-size: 80px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        h4 {
            font-size: 50px;
            font-weight: 500;
            text-transform: capitalize;
        }
    }

    .header2 {
        div {
            display: flex;
            gap: 0.5rem;

            h2 {
                font-size: 55px;
                font-weight: 500;
            }

            p {
                font-weight: 200;
                font-size: 20px;
                margin-top: 0.5rem;
            }

        }

        h4 {
            font-size: 30px;
            font-weight: 200;
            margin-bottom: 40px;
        }

        h3 {
            font-size: 15px;
            font-weight: 500;
            opacity: 0.9;
            margin-bottom: 5px;
            letter-spacing: 1.5px;
        }
    }
}


.allElems .allFeatures {
    width: 100%;
    height: 35%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}

.allFeatures .elem {
    cursor: pointer;
    border-radius: 10px;
    color: var(--tri-1);
    background:
        conic-gradient(from var(--rotate), #0000003b, var(--pri), #0000003b, #0000003b) border-box;
    border: 2px solid rgb(112, 112, 112);
    animation: borderAnimate 4s infinite;
    animation-play-state: paused;
    transition: all 0.5s linear;
    position: relative;
    overflow: hidden;
}

.allFeatures .elem:hover {
    transform: translateY(-0.6rem) scale(1.03);
    animation-play-state: running;
    border: 3px solid transparent;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.341);
}

.allFeatures .elem:hover+.elem,
.allFeatures .elem:has(+ .elem:hover) {
    transform: translateY(0.5rem) scale(0.97);
}

.allFeatures {
    .elem {
        &:active {
            scale: 0.97;
            transition: all 0.2 ease;
        }

        .img-container {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #000;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.7;
                filter: blur(1px);
            }
        }

        h2 {
            font-size: 25px;
            font-weight: 500;
            position: absolute;
            bottom: 4%;
            right: 5%;
            pointer-events: none;
            font-family: monospace;
            letter-spacing: -1px;
            word-spacing: -5px;
        }

    }
}

section.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    top: 0;
    z-index: 999;
    user-select: none;

    .container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .upper-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: start;
            width: 100%;
            height: 10%;

            h2 {
                font-size: 35px;
                font-weight: 500;
            }

            .back {
                cursor: pointer;
                background-color: var(--red);
                color: var(--sec);
                padding: 8px 15px;
                font-size: 18px;
                font-weight: 500;
                border: none;
                border-radius: 8px;
                transition: all 0.2s ease;

                &:active {
                    scale: 0.95;
                }
            }
        }

        .bottom-container {
            height: 90%;
            width: 100%;
        }
    }


}

/* todo list */
.todo-list-fullpage {
    .todo-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .addTask {
            background: var(--tri-2);
            width: 33%;
            height: 100%;
            border-radius: 10px;

            form {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 30px;
                gap: 20px;

                #taskInput {
                    padding: 14px 20px;
                    width: 100%;
                    font-size: 18px;
                    background: var(--pri);
                    color: var(--sec);
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    flex-grow: 0;
                }

                textarea {
                    padding: 14px 20px;
                    width: 100%;
                    font-size: 18px;
                    background: var(--pri);
                    color: var(--sec);
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    flex-grow: 1;
                }

                .mark-imp {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    gap: 20px;
                    width: 100%;

                    #check {
                        scale: 1.4;
                    }
                }

                button {
                    cursor: pointer;
                    padding: 14px 20px;
                    width: 100%;
                    font-size: 18px;
                    background-color: var(--tri-1);
                    color: var(--sec);
                    font-weight: 700;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    flex-grow: 0;
                    transition: all 0.2s ease;

                    &:active {
                        scale: 0.99;
                    }
                }
            }
        }

        .allTask {
            background: var(--tri-2);
            width: 65%;
            height: 100%;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            padding: 30px;
            overflow: auto;

            .task {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                background-color: var(--pri);
                padding: 14px 20px;
                border-radius: 10px;

                .task-details {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    h5 {
                        color: var(--sec);
                        font-size: 23px;
                        font-weight: 700;
                        display: flex;
                        align-items: flex-start;
                        gap: 5px;
                    }

                    details {
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        summary {
                            font-weight: 500;
                            cursor: pointer;
                            color: var(--tri-2);
                        }

                        p {
                            font-weight: 500;
                            cursor: default;
                            color: var(--tri-2);
                            padding-left: 20px;
                            font-size: 14px;
                        }
                    }
                }

                span {
                    background-color: var(--red);
                    color: var(--pri);
                    font-size: 9px;
                    border-radius: 10px;
                    padding: 2px 7px;
                    padding-bottom: 3px;

                    &.ture {
                        opacity: 1;
                    }

                    &.false {
                        opacity: 0;
                    }
                }

                button {
                    cursor: pointer;
                    padding: 8px 12px;
                    color: var(--pri);
                    background-color: green;
                    font-size: 14px;
                    border-radius: 5px;
                    border: none;
                    transition: all 0.3s ease;

                    &:active {
                        scale: 0.97;
                    }
                }
            }
        }
    }
}

/* daily planner */
.daily-planner-fullpage {
    h2 {
        font-size: 40px;
        font-weight: 500;
    }

    .day-planner {
        background-color: var(--tri-2);
        height: 85%;
        width: 100%;
        border-radius: 10px;
        margin-top: 40px;
        padding: 30px;
        padding-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        overflow: auto;
        border: 1px solid var(--pri);

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            /* background: #9f9f9f46; */
            background: var(--tri-1);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--sec);
            border-radius: 20px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #43210cdd;
        }

        .day-planner-time {
            display: flex;
            align-items: center;
            position: relative;
            width: 49%;
            margin-bottom: 15px;

            p {
                position: absolute;
                top: 11%;
                left: 2%;
                font-size: 13px;
                color: var(--tri-1);
                font-weight: 200;
            }

            input {
                padding: 15px 30px;
                width: 100%;
                background-color: var(--sec);
                border-radius: 5px;
                border: none;
                font-size: 25px;
                padding-top: 25px;
                outline: none;
            }
        }
    }
}

/* motivational Quote */

.motivational-fullpage .motivation-fullPage-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.motivational-fullpage .motivation-fullPage-container .motivation-container {
    height: 500px;
    width: 70%;
    position: relative;
}

.motivation-container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: var(--tri-1);
    border-radius: 50px;
    scale: 1.15;
    filter: blur(150px);
    z-index: 8;
}

.motivation-container .motivation-wrapper {
    z-index: 10;
    position: absolute;
    width: 100%;
    border-radius: 30px;
    padding: 20px;

    background:
        linear-gradient(var(--tri-1)) padding-box,
        conic-gradient(from var(--rotate), #00000003, var(--sec), #00000003, #00000003) border-box;
    border: 3px solid var(--sec);
    animation: borderAnimate 2s infinite;
    animation-play-state: paused;
    transition: all 0.5s linear;
    overflow: hidden;
}

.motivation-container .motivation-wrapper:hover {
    animation-play-state: running;
    border: 6px solid transparent;
}

.motivation-container .motivation-wrapper img {
    position: absolute;
    top: 5%;
    right: 4%;
    opacity: 0.2;
    width: 110px;
}

.motivation-container .motivation-wrapper .motivation-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.motivation-container .motivation-wrapper .motivation-1 h2 {
    background-color: var(--tri-2);
    padding: 15px 30px;
    border-radius: 16px;
    font-size: 28px;
    width: fit-content;
    font-weight: 500;
    text-align: right;
}

.motivation-container .motivation-wrapper .motivation-2 {
    padding: 35px 50px;
}

.motivation-container .motivation-wrapper .motivation-2 h1 {
    font-size: 45px;
    font-weight: 700;
    color: var(--sec);
}

.motivation-container .motivation-wrapper .motivation-3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.motivation-container .motivation-wrapper .motivation-3 h2 {
    background-color: var(--tri-2);
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 18px;
    width: fit-content;
    font-weight: 500;
    text-align: right;
}

/* pomodoro timer */

.pomodoro-fullpage h2 {
    font-size: 40px;
}

.pomodoro-fullpage .session {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 25px;
    background-color: var(--green);
    font-size: 20px;
    border-radius: 5px;
}

.pomodoro-fullpage .pomo-timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomo-timer h1 {
    font-size: 160px;
}

.pomo-timer button {
    background-color: var(--tri-2);
    padding: 15px 40px;
    font-size: 25px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 7px 7px 0 var(--black);
    transition: all ease 0.1s;
    cursor: pointer;
    font-weight: 700;
}

.pomo-timer button:active {
    box-shadow: 0px 0px 0px var(--black);
    scale: 0.99;
}