:root {
    --pri: #f8f4e1;
    --sec: #381c0a;
    --tri-1: #feba17;
    --tri-2: #74512d;
    --red: #ff0000;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./fonts/aeoniktrial-light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./fonts/aeoniktrial-regular.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 700;
    src: url(./fonts/aeoniktrial-bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
}

nav {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri-2);
}

section.allElems {
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    user-select: none;
}

.elem {
    cursor: pointer;
    height: 330px;
    width: 272px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.elem:active {
    scale: 0.97;
}

.elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.elem h2 {
    font-size: 28px;
    font-weight: 500;
    position: absolute;
    bottom: 4%;
    right: 5%;
    pointer-events: none;
}

section.fullElem {
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    padding: 40px;
    display: none;
    position: absolute;
    user-select: none;
}

.fullElem .back {
    position: absolute;
    right: 5%;
    cursor: pointer;
    background-color: var(--red);
    color: var(--sec);
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.back:active {
    scale: 0.95;
}

/* todo list */

.todo-list-fullpage h2 {
    font-size: 40px;
    font-weight: 500;
}

.todo-list-fullpage .todo-container {
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
    background: var(--tri-2);
    width: 33%;
    height: 100%;
    border-radius: 10px;
}

.todo-list-fullpage .todo-container .addTask form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}

.todo-container .addTask form #taskInput {
    padding: 18px 22px;
    width: 100%;
    font-size: 20px;
    background: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    flex-grow: 0;
}

.todo-container .addTask form textarea {
    padding: 15px 20px;
    width: 100%;
    font-size: 18px;
    background: var(--pri);
    color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    flex-grow: 1;
}

.todo-container .addTask form .mark-imp {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.addTask form .mark-imp>#check {
    scale: 1.4;
}

.todo-container .addTask form button {
    cursor: pointer;
    padding: 15px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--tri-1);
    color: var(--sec);
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
    flex-grow: 0;
    transition: background-color 0.2s ease;
}

.todo-container .addTask form button:active {
    scale: 0.99;
}

.todo-list-fullpage .todo-container .allTask {
    background: var(--tri-2);
    width: 65%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 30px;
    overflow: auto;
}

.todo-container .allTask .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 18px 30px;
    border-radius: 10px;
}

.allTask .task h5 {
    color: var(--sec);
    font-size: 23px;
    font-weight: 700;
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.allTask .task span {
    background-color: var(--red);
    color: var(--pri);
    font-size: 9px;
    border-radius: 50px;
    padding: 3px 7px;
}

.allTask .task span.ture {
    opacity: 1;
}

.allTask .task span.false {
    opacity: 0;
}

.allTask .task button {
    cursor: pointer;
    padding: 10px 20px;
    color: var(--pri);
    background-color: green;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.allTask .task button:active {
    scale: 0.97;
}

/* daily planner */
.daily-planner-fullpage h2 {
    font-size: 40px;
    font-weight: 500;
}

.daily-planner-fullpage .day-planner {
    background-color: var(--tri-2);
    height: 85%;
    width: 100%;
    border-radius: 10px;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time {
    display: flex;
    align-items: center;
    position: relative;
    width: 49%;
    margin-bottom: 15px;
}

.day-planner .day-planner-time p {
    position: absolute;
    top: 11%;
    left: 2%;
    font-size: 13px;
    color: var(--tri-1);
    font-weight: 200;
}

.day-planner .day-planner-time input {
    padding: 15px 30px;
    width: 100%;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    font-size: 25px;
    padding-top: 25px;
    outline: none;
}