* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        width: 350px;
        height: 450px;
        background: rgb(229, 228, 228);
        border-radius: 1.5rem;
        padding: 1.3rem;

        img {
            width: 100%;
            height: 84%;
            object-fit: cover;
            border-radius: 1.5rem;
            margin-bottom: 0.4rem;
        }

        h1 {
            user-select: none;
            text-align: center;
            font-size: 2.4rem;
        }

        i {
            background-image: linear-gradient(to bottom, rgb(255, 0, 43), #ff0099);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: all 0.3s ease;
            font-size: 5rem;
        }
    }
}