* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
}
body main {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgb(26, 26, 26), rgb(30, 30, 30), black);
  padding: 20px;
}
body main section.all-reels {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  margin: auto;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body main section.all-reels::-webkit-scrollbar {
  display: none;
}
body main section.all-reels .reel {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
body main section.all-reels .reel .mute {
  background-color: rgba(51, 51, 51, 0.6823529412);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}
body main section.all-reels .reel .mute i {
  font-size: 18px;
  pointer-events: none;
  color: rgb(223, 222, 222);
}
body main section.all-reels .reel .mute:active {
  scale: 0.95;
}
body main section.all-reels .reel video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section.all-reels .reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(74, 73, 73, 0), rgba(0, 0, 0, 0.852));
  width: 100%;
  position: absolute;
  bottom: 0;
}
body main section.all-reels .reel .bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}
body main section.all-reels .reel .bottom .user h4 {
  font-size: 16px;
  color: rgb(216, 216, 216);
}
body main section.all-reels .reel .bottom .user button {
  background-color: transparent;
  padding: 2px 8px;
  margin-bottom: 1px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 500;
  color: rgb(238, 238, 238);
}
body main section.all-reels .reel .bottom .user img {
  height: 25px;
  width: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
body main section.all-reels .reel .bottom h3 {
  font-weight: 400;
  font-size: 14px;
  color: rgb(216, 216, 216);
}
body main section.all-reels .reel .right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: rgb(216, 216, 216);
  width: 40px;
  position: absolute;
  right: 0;
  bottom: 12%;
}
body main section.all-reels .reel .right div {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
body main section.all-reels .reel .right h4 {
  font-size: 25px;
  font-weight: 500;
  pointer-events: none;
}
body main section.all-reels .reel .right h4 .love-fill {
  color: red;
}
body main section.all-reels .reel .right h6 {
  font-size: 10px;
  font-weight: 500;
  pointer-events: none;
}