* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(20, 20, 20);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
main .card {
  width: 280px;
  border-radius: 1rem;
  background: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 1.3rem 1.5rem;
}
main .card img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
  margin-bottom: 1rem;
}
main .card h1 {
  white-space: nowrap;
}
main .card h3 {
  color: crimson;
  font-weight: 500;
}
main .card p {
  text-align: center;
}