* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #222222;
}

p {
    font-family: monospace;
    font-size: 3.5rem;
    color: green;
    white-space: nowrap;
}